p {
	height: auto;
	width: 100%;
	margin-bottom: 0;
	font-size: 0.9em;
}

h1 {
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	font-weight: normal;
	grid-column: 1 / 3;
	font-size: 0.9em;
	border-bottom: 1px solid black;
}

a {
	text-align: center;
	justify-items: center;
	margin: 0;
	height: max-content;
	width: max-content;
	font-size: 0.9em;
	padding: 3px;
}

span {
	font-size: 0.9em;
}

input {
	box-sizing: border-box;
	font-family: favorit;
	text-align: center;
	box-shadow: 0;
	border: 0;
	font-size: 0.9em;
	padding: 0;
	width: 60px;
	background-color: transparent;
}

input:focus {
	outline: none;
}

input[type="file"] {
	color: transparent;
}

@font-face {
	font-family: "Favorit";
	font-style: light;
	src: url("../pages/fonts/ABCFavoritMono-Light.woff") format("woff");
}

body {
	font-family: favorit;
	height: 100vh;
	width: 100vw;
	margin: 0;
	display: grid;
	overflow-y: scroll;
	overflow-x: hidden;
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 50px 1fr 50px;
	height: 100vh;
}

.canvas {
	height: calc(100vh - 100px);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-right: 1px solid black;
	overflow: hidden;
}

.p5Canvas {
    width: 95% !important;
    height: 95% !important;
    object-fit: contain !important; /* Ajusta la imagen dentro del canvas */
    visibility: visible !important;
}

.menu-wrapper {
	display: grid;
	grid-template-rows: max-content 1fr;
}

.menu {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100px 100px 1fr;
	border-bottom: 1px solid black;
}

.ColursContainer,
.PatternContainer,
.ValuesContainer {
	display: grid;
	grid-template-columns: 0.7fr 1fr 1fr 1fr;
}

.ColursContainer > :nth-child(1) ,
.PatternContainer > :nth-child(1),
.ValuesContainer > :nth-child(1),
.ValuesContainer > :nth-child(5),
.ValuesContainer > :nth-child(9) {
	border-right: 1px solid black;
}

.ValuesContainer {
	grid-template-rows: 50px 50px 50px;
}

.item {
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid black;
}

.grid {
	border-bottom: 0;
}

.coloursdiv {
	position: absolute;
	top: 51px;
	right: 0;
	width: calc(50vw - 143px);
	height: 98px;
	z-index: 2;
	display: grid;
	grid-template-columns: repeat(20, 1fr);
	grid-template-rows: repeat(4, 1fr);
	gap: 1px;
	background-color: black;
}

.patternsdiv {
	position: absolute;
	right: -1px;
	top: 150px;
	height: 99px;
	width: calc(50vw - 142px);
	z-index: 2;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	background-color: white;
	place-items: center;
}

#menuText {
    padding-left: 2%; 
	width: 95%;
}

.download-section {
	display: grid;
	height: 50px;
	align-items: center;
	justify-content: center;
	border-top: 1px solid black;
	grid-column: 1 / 3;
	grid-template-columns: 1fr 1fr;
}

button {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	outline: none;
	color: inherit; 
	font: inherit;  
	cursor: pointer; 
	height: 50px;
}

#downloadPDFButton {
	border-right: 1px solid black;
	width: calc(50vw + 1px);
}

#downloadCOVERButton {
	position: absolute;
	width: 100vw;
	grid-column: 1 / 3;
	background-color: white;
}
  
.download-button {
	height: max-content;
	width: max-content;
	margin: 0;
	cursor: pointer;
}

.custom-file-upload {
	display: inline-block;
	cursor: pointer;
	position: absolute;
}

@media (max-width: 1250px) {

	p, h1, a, span, input {
		font-size: 1em;
	}
	
	body {
		width: 100vw;
		height: 100vh;
		overflow-y: scroll;
		overflow-x: hidden;
	}

	.canvas {
		border-right: 0;
	}

	main {
		grid-template-columns: 1fr;
		grid-template-rows: 50px 70vh 1fr 50px;
		height: auto;
	}

	h1,
	.download-section {
		grid-column: 1 / 2;
	}

	.menu-wrapper {
		grid-template-rows: 1fr;
		overflow-y: scroll;
		overflow-x: hidden;
	}

	.menu {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 150px 150px 1fr;
		border-bottom: 1px solid black;
		border-top: 1px solid black;
	}

	.ColursContainer,
	.PatternContainer,
	.ValuesContainer {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.ValuesContainer {
		grid-template-rows: 50px 50px 50px 50px 50px 50px;
	}

	.ColursContainer > :nth-child(1),
	.PatternContainer > :nth-child(1),
	.ValuesContainer > :nth-child(1),
	.ValuesContainer > :nth-child(5),
	.ValuesContainer > :nth-child(9) {
		grid-column: 1 / 4;
		border-right: 0;
		border-bottom: 0;
	}

	.coloursdiv {
		width: 100vw;
		top: calc(70vh + 120px);
		height: 80px;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}

	.patternsdiv {
		right: 0;
		top: calc(70vh + 270px);
		width: 100vw;
		height: 79px;
		grid-template-columns: repeat(5, 1fr);
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}

	#menuText {
		display: none;
	}

	.download-section {
		border-top: 0;
	}

}